# --- Ignorar pastas pesadas do Dataset ---

# --- Ignorar resultados gerados ---
#results/

# --- Ignorar ambiente virtual e cache ---
venv/
__pycache__/
*.pyc

# --- Ignorar arquivos de modelo (se houver soltos) ---
*.pth
*.h5